<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <a href="/">Home</a> | 
            <a href="/tasks/login">Login</a> | 
            <a href="/tasks/registration">Registration</a>
        </div>    
        <h1><%= title %></h1>